<div class="card flex justify-center">
  <form [formGroup]="teacherForm">
    <p-dialog header="Adauga profesor" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
      <div class="field">
        <label for="name">Nume profesor</label>
        <input id="name" type="text" formControlName="name"
               class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
      </div>
      <div class="field">
        <label for="phoneNumber">Telefon</label>
        <input id="phoneNumber" type="text" formControlName="phoneNumber"
               class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
      </div>
      <div class="field">
        <label for="email">Email</label>
        <input id="email" type="text" formControlName="email"
               class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
      </div>
      <div class="field">
        <label for="username">Username</label>
        <input id="username" type="text" formControlName="username"
               class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
      </div>
      <div class="col-offset-6 col-12">
        <p-button class="mr-3" label="Cancel" (click)="visible = false" severity="secondary"/>
        <p-button label="Salveaza" (click)="saveTeacher()" severity="success"/>
      </div>
    </p-dialog>
  </form>
</div>
