<div class="grid">
  <div class="col-4">
    <div class="p-3">
      <h2 class="text-4xl font-extrabold dark:text-white">Management studenti</h2>
      <p class="mb-4 text-lg text-gray-500">Gestioneaza studentii si sesiunile de
        meditatii</p>
    </div>
  </div>
  <div class="col-4 col-offset-4">
    <div class="card flex flex-wrap gap-4 justify-center">
      <p-button label="Exporta lista" severity="secondary" icon="pi pi-file-export" (click)="dt.exportCSV()"/>
      <p-button label="Adauga student" severity="primary" icon="pi pi-plus" (click)="createStudent()"/>
    </div>
  </div>
</div>


<p-card header="Lista studenti">
  <p-table
    #dt
    [value]="students"
    [paginator]="true"
    [rows]="5"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rowsPerPageOptions]="[5, 10, 20]"
    [size]="'large'"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="{first} din {totalRecords}"
    (onPage)="pageChange($event)"
    [exportHeader]="'customExportHeader'"
  >
    <ng-template #header>
      <tr>
        <th>Nume</th>
        <th >Pachet</th>
        <th >Sedinte ramase</th>
        <th >Numar telefon</th>
        <th >Email Parinte</th>
        <th >Numar telefon parite</th>
        <th >Actiuni</th>
      </tr>
    </ng-template>
    <ng-template #body let-student>
      <tr>
        <td>{{ student.name }}</td>
        <td>{{ student.pack.name }}</td>
        <td>{{ student.numberOfSessions }}</td>
        <td>{{ student.phoneNumber }}</td>
        <td>{{ student.parentEmail }}</td>
        <td>{{ student.parentPhoneNumber }}</td>
        <td>
          <div class="flex flex-row flex-wrap">
            <p-button icon="pi pi-eye" [pTooltip]="'Vizualizeaza sedintele'" (click)="showStudentSheet(student?.id)" [rounded]="true" [text]="true"/>
            <p-button icon="pi pi-pencil" [pTooltip]="'Editeaza studentul'" (click)="editStudent(student.id)" [rounded]="true" [text]="true"/>
            <p-button icon="pi pi-trash" [pTooltip]="'Sterge studentul'" (click)="removeStudent(student.id)" [rounded]="true" [text]="true"/>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>


</p-card>
