<div class="col-4 col-offset-10">
  <div class="card flex flex-wrap gap-4 justify-center">
    <p-button label="Adauga materie" severity="primary" icon="pi pi-plus" (click)="addNewSubject()"/>
  </div>
</div>

<p-card header="Lista pachete">
  <p-table
    #dt
    [value]="subjects"
    [paginator]="true"
    [rows]="5"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rowsPerPageOptions]="[5, 10, 20]"
    [size]="'large'"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="{first} din {totalRecords}"
    [exportHeader]="'customExportHeader'"
  >
    <ng-template #header>
      <tr>
        <th>Nume</th>
        <th>Actiuni</th>
      </tr>
    </ng-template>
    <ng-template #body let-subject>
      <tr>
        <td>{{ subject.name }}</td>
        <td>
          <div class="flex flex-row flex-wrap">
            <p-button icon="pi pi-pencil" [pTooltip]="'Editeaza materia'" (click)="editSubject(subject)"
                      [rounded]="true"
                      [text]="true"/>
            <p-button icon="pi pi-trash" [pTooltip]="'Sterge materia'" (click)="removeSubject(subject.id, $event)"
                      [rounded]="true" [text]="true"/>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>

<app-subject-creation #subjectCreationComponent (saveEmitter)="onSaveSubject()"></app-subject-creation>

